{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Niraj Patel</title>
    <link href="{% static '/css/main.css' %}"  rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
    
    <br>

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card card-body h-100 border-info" id="profile-wrapper">
                    <img id="profile-pic" src="{% static '/images/profile_picture.jpg' %}" alt="">
                    <hr>
                    <h4>Hi I'm Niraj!</h4>
                    <p>I love Coding, Creating New Things and Photography</p>
                </div>
            </div>
            <div class="col-md-9">
				<div class="card card-body h-100  border-info">
					<h4>My First Job as a Developer</h4>
					<hr>
					<p>6 months after writing my first Hello World program on November 8th 2020 (While studing in the college) I had learned programming languages like Python and build some projects around it.</p>

					<p>After graduation I joined LTIMindtree and I started working as a python backend developer and learn new technologies like AWS, RabbitMQ, etc.</p>

					<p>From this you’ll see that I’m someone that jumps before I can talk myself out of doing something scary.</p>

					<ul class="social-links">
						<li><img class="social" src="{% static 'images/facebook.png' %}"></li>
						<li><img class="social" src="{% static 'images/linkedin.png' %}"></li>
						<li><img class="social" src="{% static 'images/twitter.png' %}"></li>
						<li><img class="social" src="{% static 'images/youtube.png' %}"></li>
					</ul>

				</div>
			</div>
		</div>

		<br>

		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>My Experience as a Developer</h5>
					<hr>
					<p>Python Backend Developer at LTIMindtree.</p>
					<p>Created Several API for the IDP platform and Integrated third party APIs like chatGPT and Azure Form Recognizer. Developed BERT NER Model to extract Entities from text of documents.</p>
					</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>What I Know</h5>
					<hr>
					<p>Python, Django, Flask, HTML/CSS, JavaScript, Postgres, AWS and REST APIs, JavaScript charts and a whole bunch more I can’t possibly mention in one sentence! ;)</p>
					<p>PS: Working on ReactJS, Mongo DB and Machine Learning.</p>
				</div>
			</div>
		</div>

		<br>

		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>How I Learn</h5>
					<hr>
					<p>Reverse Engineer & Build Ugly Prototypes First.</p>

					<p>I can learn just about anything by having a final product to tear apart piece by piece. I break the code where I need to figure out why things work the way they do. Documentation is just a reference.</p>
				</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>My Short Term Goals</h5>
				<hr>
				<p>After almost two years of Python Development I’m ready to learn something new. I'll collaborating and sharing my experience with others on my blog.</p>
				<p>Aside from building small projects I would love to enter a position where I can be part of a bigger team & learn from others with more experience than myself.</p>
				</div>
			</div>
		</div>
    </div>

    <br>

</body>
</html>
